body {
font-family: 'Karla', sans-serif;
text-align: center;
background-color: hsl(204, 43%, 93%);
margin: 0;
}

h3 {
  padding-bottom: 15px;
  font-size: 1.1rem;
}

.full-access {
  padding-bottom: 15px;
}

.first-heading {
  color: hsl(179, 62%, 43%);
  margin: 0;
}

.second-heading {
  color: hsl(71, 73%, 54%);

}

.opening-paragraph {
  color: hsl(218, 22%, 67%);
  font-size: 1.1rem;
}

.per-month{
color: hsl(179, 62%, 57%);
font-weight: lighter;
}

.price{
  font-size: 2rem;
  padding-right: 10px;
}

.grid-container {
  display: grid;
  width: 40%;
  min-width:350px;
  background-color: white;
}

.first-box {
box-sizing: border-box;
background-color: white;
margin: 0;
text-align: left;
padding: 8%;
}

.second-box {
box-sizing: border-box;
background-color: hsl(179, 62%, 43%);
color: hsl(0, 0%, 98%);
margin: 0;
text-align: left;
padding:  8% 16% 9% 16%;
line-height: 20px;
font-size: 1rem;
}

.third-box {
  box-sizing: border-box;
  color: hsl(204, 43%, 93%);
  background-color: hsl(179, 47%, 52%);
  margin: 0;
  text-align: left;
  padding:  8% 16% 9% 16%;
  line-height: 9px;
  font-size: 0.9rem;
}

.myButton {
	background-color:hsl(71, 73%, 54%);
	border-radius:6px;
	display:block;
  padding: 11px 0 11px 0;
	cursor:pointer;
	color:hsl(204, 43%, 93%);
	font-family: 'Karla', sans-serif;
	font-size: 1.1rem;
	font-weight:bolder;
  text-align: center;
	text-decoration:none;
  margin: auto;
  box-shadow: 0px 0px 16px -6px #888888;

}

@media screen and (max-width: 600px) {

  .grid-container {
    margin:100px auto;
    min-width:350px;
    border-radius: 25px;
    box-shadow: 0px 10px 17px -10px #888888;
  }

  .first-box {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

    .second-box {
    width: 100%;
    border-radius: 0;
  }

    .third-box {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
}

@media screen and (min-width: 600px) {

  .grid-container {

    display: grid;
    width: 50%;
    margin:100px auto;
    min-width:350px;
    border-radius: 25px;
    box-shadow: 0px 10px 17px -10px #888888;
    grid-template-columns: 50% 50%;
  }

  .first-box {
    width: 100%;
    grid-column: 1 / span 2;
    border-radius: 10px 10px 0 0;
  }

    .second-box {
    width: 100%;
    grid-column: 1;
    margin: 0;
    border-radius: 0 0 0 10px;
  }

    .third-box {
    width: 100%;
    grid-column: 2;
    margin:0;
    border-radius: 0 0 10px 0;
  }

}
